/* Footer */
.footer {
    background-color: #262626;
}

.footer-link {
    padding: 8px 0;
}

.white_logo {
    padding-top: 56px;
    margin-bottom: 30px;
}

.footer_hr {
    border-color: rgba(255, 255, 255, 40%);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

/* Uber links */

.uber-links {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
}

.footer-links-column {
    flex-basis: 33.333333%;
    display: flex;
    flex-flow: column nowrap;
    font-size: 13px;
    color: #fff;
}

.about-partner-item {
    margin-bottom: 23px;
}

/* Lang selector */


.lang-selector {
    background-color: #3B3B3B;
    width: 227px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}

.lang-selector-img {
    width: 16px;
    height: 16px;
    margin: 12px 16px;
}

.lang-selector-select {
    background: transparent;
    color: white;
    border: 0;
    width: 170px;
    font-family: "Robot", sans-serif;
    appearance: none;
    background-image: url(/Ubereat/images/select_arrow.png);
    background-repeat: no-repeat;
    background-position: right;
}

option {
    background: transparent;
    color: #000;
    font-size: 13px;
  }

/* Social media */

.social-media-heading {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
}

.social-media-icons {
    display: flex;
    gap: 10px;
    padding-top: 6px;
    padding-bottom: 13px;
}


.social-media-heading span {
    color: green;
}


.about-partner-link {
    font-size: 13px;
}


/* Dowload links */

.download-links {
    text-align: center;
}
.download-link {
    margin: 41px 20px;
}

.copyright {
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    max-width: 760px;
    color: #fff;
    padding: 20px 0;
}


/* Button Up */

.btn-up {
    position: fixed;
    background-color: #673ab7;
    right: 20px;
    bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
    width: 80px;
    height: 80px;
    opacity: 1;
}

.btn-up::before {
    content: "";
    width: 80px;
    height: 80px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url(/Ubereat/images/btn-up.png);
}

.btn-up-hide {
    display: none;
}


@media screen and (max-width: 576px) {
    .uber-links {
        flex-flow: column;
    }

    .footer-links-column {
        flex-basis: 100%;
      }

    .copyright {
        flex-flow: column nowrap;
    }
}